.App {
  display: flex;
  height: 100vh; /* Ensuring it takes the full viewport height */
}

.nav {
  width: 15em;
  background-color: #A2C579;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em; /* Added padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Added shadow for a bit of depth */
}

.chart {
  background-color: #FFFFDD
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.2em; 
  margin-bottom: 0.5em; /* Added margin to give space between buttons */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #D2DE32;
}

button:last-of-type {
  margin-bottom: 0; /* Removing margin from the last button to avoid extra space at the bottom */
}

button:hover {
  background-color: #f0f0f0; 
}

.sideview {
  display: flex;
  flex-direction: column;
  height: 85vh; /* Changed to vh to maintain a proportionate height relative to the viewport */
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  font-size: 3em;
  color: #016A70;
  margin-bottom: 1em; /* Added some margin for better spacing */
}
